@import '@/styles/mixins', '@/styles/variables';

.section {
  @include shadow(both);

  background-image: url('../../../assets/images/grab-and-go/about_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-inline: 48px;
}

.wrapper {
  @include fullHeight(1080px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 62px;

  width: min(100%, 519px);
}

.description {
  letter-spacing: -0.02em;
}
