@import '@/styles/mixins', '@/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnWrapper {
  margin-top: 90px;
  margin-inline: auto;
  width: min(100%, 387px);
}
