@import '@/styles/variables', '@/styles/mixins';

.nav {
}

.item {
  position: relative;

  display: flex;
}

.list {
  display: flex;
  align-items: center;
  gap: 146px;
}

.sublist {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sublink {
  text-transform: none;
}
