@import '@/styles/mixins', '@/styles/variables';

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 10px;
  padding-top: 34px;
  padding-bottom: 26px;
  padding-inline: 0;

  color: $white;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color $duration-sm $easing-base;

  &[aria-expanded='true'] {
    color: $golden;
  }
  @include hover {
    color: $golden;
  }
}

.label {
  color: currentColor;
  font-family: $font-cormorantUnicase;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.icon {
  @include square(18px);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: currentColor;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  display: block;
  width: 18px;
  height: 2px;

  background-color: currentColor;

  transition: rotate $duration-sm $easing-base;
}

.btn[aria-expanded='true'] .icon::after {
  rotate: 0deg;
}

.btn[aria-expanded='true'] .icon::before {
  rotate: -180deg;
}

.btn[aria-expanded='false'] .icon::after {
  rotate: 90deg;
}
