@import '@/styles/variables', '@/styles/mixins';

.wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;

  padding-top: 371px;
  padding-bottom: 48px;
  min-height: 812px;
  height: min(100lvh, 812px);

  @include md {
    padding-top: 180px;
    min-height: 908px;
    height: min(100lvh, 908px);
  }

  @include lg {
    padding-top: 208px;
    min-height: 860px;
    height: min(100lvh, 860px);
  }

  @include xl {
    min-height: 1040px;
    height: min(100lvh, 1040px);
  }

  @include xxl {
    padding-top: 264px;
    padding-bottom: 50px;
    min-height: 1220px;
    height: min(100lvh, 1220px);
  }
}

.sliderWrapper {
  @include shadow('bottom');

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
}

.imgSlide {
  @include square(100%);
  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 98px;

  @include xl {
    height: calc(100% - 300px);
  }

  @include xxl {
    gap: 170px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  @include lg {
    gap: 8px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  font-size: 117px;
  font-size: clamp-calc($screen-sm-min, $screen-xxl-min, 34px, 117px);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: $font-cormorantUnicase;
  text-transform: uppercase;
  text-align: center;

  & > span {
    font-size: clamp-calc($screen-sm-min, $screen-xxl-min, 16px, 57px);
    letter-spacing: 0.35em;
    font-family: $font-gotham-pro;
    color: currentColor;
    font-weight: 400;
  }
}

.iconWrapper {
  width: min(100%, clamp-calc($screen-sm-min, $screen-xxl-min, 41px, 142px));

  & > svg {
    @include square(100%);
  }
}

.description {
  font-size: clamp-calc($screen-sm-min, $screen-xxl-min, 20px, 24px);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
