@import '@/styles/variables', '@/styles/mixins';

.wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 264px;
  padding-bottom: 50px;
  min-height: 1220px;
  height: min(100lvh, 1220px);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 170px;

  height: calc(100% - 300px);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  font-size: 117px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: $font-cormorantUnicase;
  text-transform: uppercase;
  text-align: center;

  & > span {
    font-size: 56px;
    letter-spacing: 0.35em;
    font-family: $font-gotham-pro;
    color: currentColor;
    font-weight: 400;
  }
}

.iconWrapper {
  width: min(100%, 142px);

  & > svg {
    @include square(100%);
  }
}

.description {
  font-size: 24px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
