@import '@/styles/variables', '@/styles/mixins';

.link {
  display: flex;
  width: 100%;

  transition: color $duration-sm $easing-base, border-bottom $duration-sm $easing-base;
}

.label {
  color: currentColor;
  font-size: 38px;
  text-transform: uppercase;
}

.contained {
  align-items: center;
  justify-content: center;

  padding-top: 14px;
  padding-bottom: 13px;

  color: $dark-bg;

  background-color: $white;

  @include hover {
    color: $golden;
  }
}

.contained > .label {
  font-size: 20px;
  letter-spacing: 0.15em;
}

.outlined {
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;

  padding-block: 6px;

  border-bottom: 1px solid $light-grey;

  @include hover {
    color: $golden;
    border-color: $golden;
  }
}

.outlined > .label {
  font-family: $font-cormorantUnicase;
  font-size: 26px;
  font-weight: 700;
}

.icon {
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
