@import '@/styles/mixins', '@/styles/variables';

.wrapper {
  @include fullHeight(1080px);

  display: flex;
  gap: 103px;

  padding-top: 117px;
  padding-bottom: 175px;
}

.logoWrapper {
  position: absolute;
  top: 134px;
  left: 50%;

  translate: -50% 0;

  width: min(100%, 238px);
  opacity: 0.03;
}

.mediaWrapper {
  position: relative;

  align-self: flex-start;

  width: 1100px;
  height: 100%;
}

.imgWrapper {
  position: absolute;
}

.imgWrapper:nth-of-type(1) {
  top: 0;
  left: 0;
  z-index: 0;

  width: 940px;
  height: 557px;
}

.imgWrapper:nth-of-type(2) {
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 467px;
  height: 478px;
}

.img {
  @include square(100%);
  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 300px;

  width: min(100%, 496px);
}

.description {
  letter-spacing: normal;
}

.link {
  text-transform: uppercase;
}
