@import '@/styles/mixins', '@/styles/variables';

.section {
  @include shadow(bottom, 1080px);
}

.container {
  padding-inline: 48px;
}

.wrapper {
  @include fullHeight(1080px);
  position: relative;
  z-index: 2;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 266px;
}

.contentWrapper {
  width: min(100%, 1341px);
}

.quote {
  color: $light-grey;
  text-align: center;
  font-size: 44px;
  line-height: 1.136;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
