@import '@/styles/variables', '@/styles/mixins';

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.fullWidth {
  @include fullScreen($container-padding-lg);
}

.list {
  @include square(100%);
}

.item {
  @include square(100%);
}
