@import '@/styles/variables', '@/styles/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px 32px;

  max-width: 374px;
}

.item {
  width: max-content;
  flex: 1;
}

.link {
  color: $white;
  font-size: 18px;
  line-height: 1;

  transition: color $duration-sm $easing-base;

  @include hover {
    color: $golden;
  }
}
