@import '@/styles/mixins', '@/styles/variables';

.wrapper {
  padding-bottom: 240px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
}

.title {
  position: absolute;
  top: 50px;
  left: 48px;
  z-index: 20;

  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -27px;

    translate: 100% -50%;

    width: 200px;
    height: 2px;

    background-color: $golden;
  }
}

.swiper {
  padding-left: 515px;
  padding-right: 48px;
}

.slide {
  width: min(100%, 434px);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  width: 75%;
  padding-inline: 20px;
}

.navigationPrev,
.navigationNext {
  @include square(60px);
  min-width: 60px;

  padding-block: 10px;
  padding-inline: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $golden;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color $duration-sm $easing-base;

  @include hover {
    color: $white;
  }

  & > svg {
    @include square(100%);
  }
}

.navigationPrev {
  & > svg {
    rotate: 180deg;
  }
}
