@import '@/styles/mixins', '@/styles/variables';

.section {
  @include shadow(top, 1080px);
  @include fullHeight(1080px);

  padding-top: 249px;
}

.wrapper {
  position: relative;
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}

.title {
  color: $golden;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.descriptionWrapper {
  position: absolute;
  top: calc(161px - 249px);
  left: 49px;
  z-index: 20;

  width: min(100%, 515px);
}

.description {
  line-height: 1.2778;
  letter-spacing: -0.01em;
}

.swiper {
  padding-left: 515px;
  padding-right: 48px;
  margin-bottom: 32px;
}

.slide {
  width: min(100%, 434px);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
}

.cardLabel {
  font-weight: 700;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  width: 76%;
  padding-inline: 20px;
}

.navigationPrev,
.navigationNext {
  @include square(60px);
  min-width: 60px;

  padding-block: 10px;
  padding-inline: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $golden;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color $duration-sm $easing-base;

  @include hover {
    color: $white;
  }

  & > svg {
    @include square(100%);
  }
}

.navigationPrev {
  & > svg {
    rotate: 180deg;
  }
}
