@import '@/styles/variables', '@/styles/mixins';

.section {
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;

  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 205px;

  max-width: 800px;
}

.quote {
  text-transform: uppercase;
}

.paragraph {
  padding-left: 46px;

  border-left: 2px solid $golden;
}

.imgWrapper {
}
