@import '@/styles/variables', '@/styles/mixins';

.section {
  padding-top: 32px;
  padding-bottom: 240px;
}

.wrapper {
  position: relative;
}

.title {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;

  color: $white;
  text-align: center;
  font-family: $font-gotham-pro;
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.28px;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -27px;

    translate: 100% -50%;

    width: 200px;
    height: 1px;

    background-color: $golden;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 434px;
}

.img {
  width: 100%;
  height: 434px;

  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
