@import '@/styles/variables', '@/styles/mixins';

.wrapper {
  min-height: 1100px;
  height: min(100vh, 1100px);
}

.contentWrapper {
  position: absolute;
  bottom: 0;
  right: 46px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-block: 67px;
  padding-right: 180px;
  padding-left: 103px;
  width: min(100%, 780px);
}

.description {
  letter-spacing: -0.03em;
}

.imgWrapper {
  margin-left: -$container-padding;
  width: calc(100% + ($container-padding * 2));

  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - 46px) 100%,
    calc(100% - 46px) calc(100% - 377px),
    calc(100% - (780px + 46px)) calc(100% - 377px),
    calc(100% - (780px + 46px)) 100%,
    0 100%
  );

  & > img {
    @include square(100%);
    object-fit: cover;
    object-position: center;

    user-select: none;
    pointer-events: none;
  }
}
