@import '@/styles/variables', '@/styles/mixins';

.section {
  padding-top: 214px;
  padding-bottom: 60px;
}

.wrapper {
  position: relative;
}

.title {
  position: absolute;
  top: 82px;
  left: 100px;
  z-index: 2;

  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -27px;

    translate: 100% -50%;

    width: 200px;
    height: 2px;

    background-color: $golden;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 434px;
}

.img {
  width: 100%;
  height: 434px;

  object-fit: cover;
  object-position: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
