@import '@/styles/mixins', '@/styles/variables';

.section {
  @include shadow(top, 463px);

  &::before {
    z-index: 10;
  }
}

.wrapper {
  @include fullHeight(1080px);
}

.swiper {
  @include fullHeight(1080px);
}

.slideContentWrapper {
  @include square(100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  padding-top: 250px;
}

.slideTitle {
  text-align: center;
  font-family: $font-cormorantUnicase;
  font-size: 150px;
  font-weight: 700;
  letter-spacing: -0.01em;
  white-space: pre-line;
}

.slideDescription {
  flex: 1;

  text-align: center;
  font-family: $font-century-gothic;
}

.slideImg {
  @include square(100%);
  object-fit: cover;
  object-position: center;

  pointer-events: none;
  user-select: none;
}

.pagination {
  position: absolute;
  bottom: 94px !important;
  right: 217px !important;
  left: auto !important;
  top: auto !important;
  z-index: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;

  width: fit-content !important;
}

.sliderBullets {
  @include square(20px);
  display: block;

  border: 1px solid $light-grey;
  border-radius: 50%;

  background-color: $main;

  transition: background-color $duration-sm $easing-base, scale $duration-sm $easing-base;

  cursor: pointer;

  @include hover {
    scale: 1.05;
  }
}

.sliderBulletsActive {
  background-color: $light-grey;

  @include hover {
    scale: 1;
  }
}

.navigation {
  @include fixedBg('../assets/images/bg.jpg');

  position: absolute;
  bottom: 0;
  left: calc((511px / 1920px) * 100%);
  z-index: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;

  padding-inline: 20px;
  padding-block: 39px;
  width: min(100%, 898px);
}

.navigationPrev,
.navigationNext {
  @include square(130px);
  min-width: 130px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $golden;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: color $duration-sm $easing-base;

  @include hover {
    color: $white;
  }
}

.navigationPrev {
  & > svg {
    rotate: 180deg;
  }
}

.label {
  position: absolute;
  top: 36px;
  left: -248px;

  translate: -100% 0;

  font-size: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -27px;

    translate: 100% -50%;

    width: 286px;
    height: 2px;

    background-color: $golden;
    border-radius: 4px;
  }
}
