@import '@/styles/variables';

.header {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 600;

  width: 100%;
  height: 53px;
}

.container {
  padding-inline: 48px;
}

.wrapoer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.iconWrapper {
  max-width: 43px;
}
