@import '@/styles/variables', '@/styles/mixins';

.container {
  position: relative;

  @include square(100%);
}

.child {
  @include square(100%);

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  translate: -50% -50%;
}
