@import '@/styles/variables', '@/styles/mixins';

.wrapper {
  position: relative;

  padding-bottom: 154px;
  min-height: 1080px;
  height: min(100lvh, 1080px);
}

.label {
  position: absolute;
  bottom: 177px;
  right: 20px;

  font-family: $font-cormorantUnicase;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.imgWrapper {
  position: relative;

  width: min(100%, 1311px);
  height: 926px;
}

.img {
  @include square(100%);
  object-fit: cover;
  object-position: center;
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 47px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01em;
}

.contentWrapper {
  position: absolute;
  top: 249px;
  right: 0;

  display: flex;
  gap: 32px;

  padding-right: 20px;
  width: min(100%, 926px);
}

.description {
  flex: 1;

  letter-spacing: normal;
  line-height: 127.778%;
}
